:root {

    /*Colors*/
    --text-color: #ffffffe8;
    --primary-bg-color: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
    --primary-innerbg-color: #ffffff17;
    --secondary-bg-color: linear-gradient(to top, #6e529d 0%,#d97b93 100%);
    --secondary-innerbg-color: #0000004f;

    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 20vh;
}

.name {
    max-width: 60%;
}

.about {
    margin-left: 10vw;
    max-width: 30vw;
    font-size: 1.3rem;
}

#last-name {
    padding-left: 100px;
}

/*Global*/

.page {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
    color: var(--text-color);
}

.bg-light {
    background: var(--secondary-bg-color);
}

.bg-light section {
    padding: 20px 55px;
    background-color: var(--secondary-innerbg-color);
    border-radius: 10px;
}

.circle {
    border-radius: 50%;
    border: 2px solid var(--text-color);
}

h1 {
    font-size: 4rem;
}

section {
    padding: 20px 55px;
    background-color: var(--primary-innerbg-color);
    border-radius: 10px;
    border: 2px solid #fff;
}


/* Experience page */

#experience-page {
    display: flex;
    justify-content: space-between;
}

#exp-heading {
    margin-top: 10vh;
    margin-left: 5vw;;
    max-height: 7rem;
    max-width: 30rem;;
}

#exp-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 35vh 5vw 20vh 0;
    max-height: 35rem;
    max-width: 30rem;
}

/* Project Page */

#project-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#projec-tiles {
    display: grid;
    grid-template-areas: "tile1 tile2"
    "tile3 tile4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20rem;
    grid-row-gap: 2rem;
}

#tile1 {
    grid-area: tile1;
}

#tile2 {
    grid-area: tile2;
}

#tile3 {
    grid-area: tile3;
}

#tile4 {
    grid-area: tile4;
}

.projec-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px -10px;
}

/* Education Page */

#edu-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 7.5vh;
}

.edu-school {
    font-size: 2rem;
}

.edu-block {
    margin: 7vh;
}

.edu-heading {
    margin-right: 7vw;
}

.edu-block {
    max-width: 65%;
}

.edu-duration {
    padding: 2vh 0;
}

/* Contact Page */

.social img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

#contact-page a {
    flex-direction: row;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: column;
}

#contact-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15vw;
}

.social a{
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
}

.social a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
}

.social img {
    padding: 5px;
}

/* Header */

#header {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: transparent;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

nav div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav .inner-circle {
    height: 1px;
    width: 1px;
    background-color: #121212;
}

nav .nav-circle:hover .inner-circle {
    height: 30px;
    width: 30px;
    background-color: #121212;
}

.description {
    visibility: hidden;
    color: #fff;
}

nav .nav-circle:hover .description{
    visibility: visible;
}

a {
    text-decoration: none;
}

/* Footer */

#footer {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    background: #d97b93;
    color: #ffffff8e;
}

@media screen and (max-width: 900px) {
    nav {
        gap: 2rem;
    }

    .page {
        display: flex;
        flex-direction: column-reverse;
    }

    .name {
        max-width: 60vw;
        margin-top: -13vh;
    }

    .about {
        max-width: 60vw;
        margin-left: 0;
        margin-top: -15vh;
        margin-bottom: -10vh;
    }

    #last-name {
        padding-left: 0;
    }

    .about-text {
        text-align: center;
    }

    #experience-page {
        flex-direction: column;
        align-items: center;
    }

    #exp-heading {
        margin-bottom: 0;
        margin-left: 0;
        max-height: 7rem;
        max-width: 30rem;
    }

    #exp-content {
        margin: 0;
        margin-bottom: 15vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-height: 35rem;
        max-width: 30rem;
    }

    #edu-page {
        flex-direction: column-reverse;
        padding-top: 2vh;
        align-items: center;
        padding-bottom: 15vh;
    }

    .edu-block {
        margin: 3vh 0;
        max-width: 65%;
    }

    .edu-heading {
        margin-right: 0;
        margin-bottom: 4vh;
    }

    .edu-duration {
        padding: 1vh 0;
    }

    .edu-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #projec-tiles {
        display: grid;
        grid-template-areas: "tile1"
                             "tile2"
                             "tile3"
                             "tile4";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row-gap: 0.5rem;
    }

    .social {
        display: flex;
        flex-direction: column;
    }

    #contact-page {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 15vw;
    }

    #footer {
        height: 50px;
    }
}